apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.backend.name }}
  labels:
    app: {{ .Values.backend.name }}
spec:
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.backend.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.backend.name }}
    spec:
      containers:
        - name: {{ .Values.backend.name }}
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.backend.service.targetPort }}
          env:
            - name: DATABASE_URL
              value: "postgresql://{{ .Values.db.auth.username }}:{{ .Values.db.auth.password }}@{{ .Values.db.name }}:{{ .Values.db.service.port }}/{{ .Values.db.auth.database }}"
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: zendo-secrets
                  key: openai-api-key
