@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #0a0a0c;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}

@layer base {
  * {
    @apply border-zinc-800;
  }

  body {
    @apply bg-[#0a0a0c] text-zinc-100;
  }
}